body {
    width: 100vw;
    height: 100vh;
}

#container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#container > * {
    width: 100%;
}

#header {
    height: 5%;
}

#form-header {
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#form-header > * {
    margin-left: 0.5em;
}

#main {
    height: 85%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#main > * {
    width: 80%;
}

#msg {
    width: 100%;
    height: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#category-list {
    max-height: 10em;
    overflow: auto !important;
}

#category {
    width: 25%;
    height: 2em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

#category > * {
    margin-right: 1em;
}

#song-list {
    max-height: 10em;
    overflow: auto !important;
}

#song-item {
    width: 25%;
    height: 2em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

#song-item > * {
    margin-right: 1em;
}

#form-songs {
    height: 100%;
    overflow: auto !important;
}

#form-songs-list {
    height: 95%;

    padding: 1em;
}

#song {
    width: 100%;
    height: 5em;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    padding: 0.5em;
    margin-bottom: 1em;
}

#song > * {
    height: 100%;
}

#song > img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

#song-data {
    width: 40%;

    padding-left: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#song-data-title {
    font-weight: bold;
    font-size: 1.2em;
}

#song-data-author {
    color: gray;
    font-size: 0.9em;
}

#song-categories {
    width: 30%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    overflow: auto !important;
}

#song-category {
    color: gray;
    font-size: 0.9em;
    font-style: italic;
} 

#song-options {
    width: 15%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#form-categories {
    overflow: auto !important;
}

#footer {
    height: 10%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}