body {
    width: 100vw;
    height: 100vh;

    background: url("../img/seamless_pattern.jpg");
}

#container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#container > * {
    width: 100%;
}

#container-full {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
}

#login-form {
    width: 90%;
}

#header {
    height: 10%;

    background-color: white;
}

.header-secondary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#form-header {
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    
}

#form-header > * {
    margin-left: 0.5em;
}

#logo-header {
    height: 90%;
    width: auto;
}

#main {
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.5);
}

#main > * {
    width: 80%;
}

#inner-main {
    background-color: white;
    padding: 2em;
    max-height: 90%;
}

#msg {
    width: 100%;
    height: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#category-list {
    max-height: 10em;
    overflow: auto !important;
}

#category {
    width: 25%;
    height: 2em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

#category > * {
    margin-right: 1em;
}

#song-list {
    max-height: 10em;
    overflow: auto !important;
}

#song-item {
    max-width: 45%;
    min-width: 25%;
    width: max-content;
    height: 2em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

#song-item > * {
    margin-right: 1em;
}

#form-songs {
    height: 90%;
}

#form-songs-list {
    height: 95%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-y: auto !important;

    padding: 1em;
}

#song {
    width: 100%;
    height: 5em;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    padding: 0.5em;
    margin-bottom: 1em;
}

#song > * {
    height: 100%;
}

#song > img {
    height: 4em;
    width: 4em;
    object-fit: cover;
}

#song-data {
    width: 40%;

    padding-left: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#song-data-title {
    font-weight: bold;
    font-size: 1.2em;
}

#song-data-author {
    color: gray;
    font-size: 0.9em;
}

#song-categories {
    width: 30%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    overflow: auto !important;
}

#song-category {
    width: max-content;
    height: max-content;
    
    padding: 0.3em;
    margin: 0.3em;
    
    color: gray;
    font-size: 0.9em;
    font-style: italic;
}

#song-options {
    width: 15%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#form-categories {
    max-height: 70%;
    overflow: auto !important;
}

#footer {
    height: 10%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: white;
}